/**
HTML OVERRIDES
**/
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

canvas{
    height: auto;
    width: 100vw;
    z-index: -1;
}

*{
    position: absolute;
}

/**
BOOTSTRAP OVERRIDES
**/

/**
CUSTOM CLASSES
**/

/**
CUSTOM ID's
**/