/**
HTML OVERRIDES
**/
*{
    position: absolute;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 200vw;
    height: 300vh;
}

canvas{
    height: auto;
    width: 100vw;
    z-index: -1;
}

h1{
   color: white;
}

/**
BOOTSTRAP OVERRIDES
**/

/**
CUSTOM CLASSES
**/

/**
CUSTOM ID's
**/